@import '../utilities/variables.scss';

.bubble {
  position: fixed;
  bottom: 60px;
  right: 60px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  a {
    height: 24px;
  }
  svg {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease-in-out;
  }
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.25, 1.25);
    svg {
      transform: scale(0.8, 0.8);
    }
  }
}

@media only screen and (max-width: 1000px) {
  .bubble {
    display: none;
  }
}
