@import '../utilities/variables.scss';

.card {
  background-color: $color-bg;
  padding: 80px 50px;
  margin-right: 100px;
  margin-top: 50px;
  box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  &:hover {
    box-shadow: -4px 16px 35px rgba(0, 0, 0, 0.25);
    background-color: white;
  }
  &__head {
    &__img {
      width: 80px;
      margin-bottom: 10px;
      path {
        fill: $color-primary;
      }
    }
    &__name {
      font-size: 1.5rem;
      margin-bottom: 80px;
    }
  }
  &__description {
    color: $color-secondary;
    max-width: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    padding: 10px;
    width: 90%;
    margin-top: 15px;
    &__head {
      &__img {
        width: 40px;
      }
      &__name {
        margin-bottom: 20px;
      }
    }
    &__description {
      max-width: 100%;
    }
  }
}
