@import '../utilities/variables.scss';

@keyframes rock {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(20%);
  }
}

.landing {
  margin: 0 auto;
  margin-top: $nav-height;
  width: 100%;
  height: calc(100vh - #{$nav_height});
  // background-color: grey;
  position: relative;
  &__container {
    position: absolute;
    // background-color: orange;
    top: calc(50% - 35px);
    // top: 50%;
    transform: translateY(-50%);
    &__name {
      // font-weight: 300;
      &__cam {
        position: relative;
        svg {
          position: absolute;
          bottom: -4px;
          left: 0;
        }
      }
    }
    &__row {
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      &__head {
        width: 850px;
        font-size: 4rem;
        line-height: 90px;
        &__dynamic {
          background-color: $color-accent;
          background: linear-gradient(
            90deg,
            #000000 0%,
            #3d2585 16.48%,
            #7245f9 100%
          );
          background-size: 100%;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-text-fill-color: transparent;
          padding-right: 5px; // needed due to letter-spacing
        }
      }
      &__cta {
        cursor: pointer;
        border-radius: 50%;
        border: solid rgba(0, 0, 0, 1) 1.5px;
        // border: solid black 1px;
        width: 240px;
        height: 240px;
        margin-left: 140px;
        background-color: white;
        position: relative;
        box-shadow: 0;
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .mouse {
            stroke: black;
          }
          .arrow {
            fill: black;
            animation: rock 1s infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
          }
        }
        transform: scale(1, 1);
        transition: background-color 0.2s ease-in-out,
          transform 0.2s ease-in-out, border 0.2s ease-in-out,
          box-shadow 0.2s ease-in-out;
        svg {
          .mouse,
          .arrow {
            transition: stroke 0.2s ease-in-out, fill 0.2s ease-in-out;
          }
        }
        // transition: stroke 0.2s ease-in-out, fill 0.2s ease-in-out;
        &:hover {
          box-shadow: 0px 4px 91px #a88bff;
          background-color: $color-accent;
          // background-color: linear-gradient(0deg, #618dfe 0%, #612ff5 23.21%);
          border: solid rgba(255, 255, 255, 0) 1.5px;
          transform: scale(1.25, 1.25);
          // transform: skew(-4deg, -4deg);
          svg {
            // transition: stroke 0.2s ease-in-out, fill 0.2s ease-in-out;
            // transform: scale(1, 1);
            .mouse {
              // transition: stroke 0.2s ease-in-out;
              stroke: white;
            }
            .arrow {
              // transition: fill 0.2s ease-in-out;
              fill: white;
            }
          }
        }
      }
    }
  }
}
