@import '../utilities/variables.scss';

.break {
  margin-bottom: 20px;
}

.project-detail {
  visibility: hidden;
  padding-top: 200px;
  &__breadcrumb {
    margin-bottom: 25px;
    span {
      color: $color-accent-1;
    }
  }
  &__main-title {
    margin-bottom: 200px;
  }
  &__h2 {
    margin-top: 200px;
    margin-bottom: 50px;
  }
  &__details {
    max-width: 50%;
    &__title {
      color: $color-secondary;
      margin-bottom: 25px;
    }
    &__info {
      font-weight: 400;
    }
    &__buttons {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-top: 50px;
      &__launch {
        height: 48px;
        padding: 0 100px;
      }
      &__github {
        transition: transform 0.2s ease-in-out;
        width: 45px;
        height: 45px;
        margin-left: 50px;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  &__goal {
    max-width: 50%;
    margin-left: 50%;
    margin-bottom: 200px;
    &__detail {
      margin-top: 20px;
    }
  }
  &__build {
    max-width: 50%;
    &__detail {
      margin-top: 20px;
    }
  }
  &__lessons {
    max-width: 50%;
    margin-left: 50%;
    &__detail {
      margin-top: 20px;
      margin-bottom: 200px;
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
  }
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  min-height: 750px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &--chatbox--1 {
      background-image: url('../images/chatbox-hero.jpg');
    }
    &--chatbox--2 {
      background-image: url('../images/chatbox-hero-2.jpg');
    }
    &--jobstasy--1 {
      background-image: url('../images/jobstasy-hero.jpg');
    }
    &--jobstasy--2 {
      background-image: url('../images/jobstasy-hero-2.jpg');
    }
  }
}

.small-screen {
  width: 90%;
  max-width: 1000px;
  height: 400px;
  background: grey;
  margin: 200px auto 0 auto;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    &--chatbox--1 {
      background-image: url('../images/chatbox-supplementary-1.jpg');
    }
    &--chatbox--2 {
      background-image: url('../images/chatbox-supplementary-2.jpg');
    }
    &--jobstasy--1 {
      background-image: url('../images/jobstasy-supplementary-1.jpg');
    }
    &--jobstasy--2 {
      background-image: url('../images/jobstasy-supplementary-2.jpg');
    }
  }
}

.greybox {
  width: 90%;
  height: 400px;
  background: grey;
  margin: 200px auto 0 auto;
}

@media only screen and (max-width: 1500px) {
  .project-detail {
    &__details {
      max-width: 75%;
    }
    &__goal {
      max-width: 75%;
      margin-left: 25%;
    }
    &__build {
      max-width: 75%;
    }
    &__lessons {
      max-width: 75%;
      margin-left: 25%;
    }
  }
  .small-screen {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .project-detail {
    &__details {
      max-width: 100%;
    }
    &__goal {
      max-width: 100%;
      margin-left: 0;
    }
    &__build {
      max-width: 100%;
    }
    &__lessons {
      max-width: 100%;
      margin-left: 0;
    }
  }
  .small-screen {
    width: 100%;
    &__image {
      height: 100%;
      background-position: left bottom;
    }
  }
}

@media only screen and (max-width: 650px) {
  .project-detail {
    &__buttons {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }
  .fullscreen {
    width: 100vw;
    &__image {
      width: 100%;
      height: 100%;
      background-position: left top;
      background-size: cover;
    }
  }
  .code {
    background-position: center top;
  }
  .small-screen {
    &__image {
      height: 100%;
      background-position: center bottom;
    }
  }
  .btn--project {
    width: 80px;
  }
}
