@import './utilities/variables.scss';

@font-face {
  font-family: 'Euclid Circular A';
  src: url(./fonts/EuclidCircularA-Light-WebTrial.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Euclid Circular A';
  src: url(./fonts/EuclidCircularA-Regular-WebTrial.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Euclid Circular A';
  src: url(./fonts/EuclidCircularA-Medium-WebTrial.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Euclid Circular A';
  src: url(./fonts/EuclidCircularA-Bold-WebTrial.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Euclid Circular A', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
}

html {
  font-size: 24px;
}

body {
  overflow-y: overlay;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: $letter_spacing;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  span {
    color: $color-accent;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  span {
    background-color: $color-accent;
    background: linear-gradient(
      90deg,
      #000000 0%,
      #3d2585 16.48%,
      #7245f9 100%
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding-right: 5px; // needed due to letter-spacing
  }
}

h4 {
  font-weight: 300;
}

.wrapper {
  width: 1500px;
  margin: 0 auto;
}
