@import './utilities/variables.scss';

@font-face {
  font-family: 'Euclid Circular A';
  src: url(./fonts/EuclidCircularA-Light-WebTrial.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Euclid Circular A';
  src: url(./fonts/EuclidCircularA-Regular-WebTrial.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Euclid Circular A';
  src: url(./fonts/EuclidCircularA-Medium-WebTrial.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Euclid Circular A';
  src: url(./fonts/EuclidCircularA-Bold-WebTrial.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Euclid Circular A', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
}

html {
  font-size: 24px;
}

body {
  overscroll-behavior-y: none;
  background-color: $color-bg;
}

body {
  overflow-y: overlay;
  background-color: $color-bg;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
      background-color: darken(#b0b0b0, 10%);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  letter-spacing: $letter_spacing;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 100%;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  span {
    color: $color-accent-1;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

h4 {
  font-weight: 300;
}

p {
  line-height: 150%;
}

.line-parent {
  overflow: hidden;
  padding: 0px 7px 8px 0;
}

.wrapper {
  width: 1500px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 500;
  border: solid $color-primary 1px;
  background-color: $color-bg;
  padding: 10px 40px 10px 40px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  &:hover {
    .btn__bg-2 {
      transform: translate(75%, -75%) scale(1.8);
    }
    .btn__text {
      color: $color-bg !important;
    }
  }
  &__bg-2 {
    position: absolute;
    top: 100%;
    right: 100%;
    border-radius: 50%;
    width: 200%;
    height: 200%;
    z-index: 2;
    background-color: $color-primary;
    transition: transform 0.4s ease-in-out;
  }
  &__text {
    color: $color-primary;
    z-index: 4 !important;
    position: relative;
    transition: color 0.4s ease-in-out;
  }
}

@media only screen and (max-width: 1750px) {
  .wrapper {
    width: 1300px;
  }
}

@media only screen and (max-width: 1500px) {
  .wrapper {
    width: 1050px;
  }
}

@media only screen and (max-width: 1250px) {
  .wrapper {
    width: 750px;
  }
  html {
    font-size: 22px;
  }
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 750px) {
  .wrapper {
    width: 90%;
  }

  html {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  .wrapper {
    width: 90%;
  }
}
